.footer {
  background: $clr-bgfooter;
  color: $clr-darkgray;

  .footer-container {
    padding: 0 140px;
  }

  .footer-list {
    .footer-row {
      display: flex;
      flex-wrap: wrap;
      padding: 33px 0;

      .footer-section {
        padding: 0 8px;

        h3 {
          font-size: 15px;
          font-weight: 500;
          padding: 8px 0;
        }

        a {
          font-size: 14px;
          color: $clr-graylight;
          padding-bottom: 6px;

          &:hover {
            color: $clr-lightblue;
          }
        }

        &:first-child {
          flex-basis: 66.66667%;

          & > div {
            display: flex;

            & > div {
              display: flex;
              flex-direction: column;
              flex-basis: 25%;
            }
          }
        }

        &:nth-child(2),
        &:last-child {
          flex-basis: 16.66667%;

          & > div {
            display: flex;

            & > div {
              display: flex;
              flex-direction: column;
            }
          }
        }
      }
    }

    .divider {
      height: 2px;
      width: 100%;
      background: $clr-divider;
    }

    .social-icons {
      padding: 33px 0;

      a:not(:last-child) {
        padding-right: 25px;
      }

      img {
        height: 20px;
        width: 20px;
        vertical-align: middle;
      }
    }
  }
}
