.header {
  height: 530px;
  background: url("../image/header.jpg") no-repeat center center / cover;

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 1;

    height: 180px;
    width: 100%;
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.76) 15.54%,
      rgba(0, 0, 0, 0.192) 60.23%,
      rgba(0, 0, 0, 8e-5) 100%
    );
  }

  nav {
    display: flex;
    justify-content: flex-end;
    padding: 20px 40px;

    position: relative;
    z-index: 2;

    .login-btn {
      background: none;
      border: none;
      color: $clr-white;
      cursor: pointer;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 1px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 30px;

    //   ipad screen
    @media (max-width: 768px) {
      text-align: center;
      padding: 0 20px;
    }

    .logo {
      width: 270px;
      margin: 20px 0;

      //   ipad screen
      @media (max-width: 768px) {
        width: 200px;
      }
    }

    .header-text-1 {
      font-size: 22px;
      font-weight: bold;

      // ipad screen
      @media (max-width: 768px) {
        font-size: 18px;
        margin-bottom: 30px;
      }
    }

    .header-text-2 {
      font-size: 18px;
      margin: 25px 0;

      // ipad screen
      @media (max-width: 768px) {
        display: none;
      }
    }

    .btn-cta:hover {
      opacity: 0.8;
    }

    .legal-text {
      font-size: 10px;
      color: $clr-gray;
      margin-top: 20px;
    }
  }
}
