$clr-black: #000;
$clr-white: #fff;
$clr-gray: #ccc;
$clr-darkgray: #333;
$clr-lightgreen: #00ed82;
$clr-lightblack: #151516;
$clr-bordergreen: #1ce783;
$clr-bgfooter: #ebedf2;
$clr-graylight: #656b7b;
$clr-lightblue: #3370bb;
$clr-divider: #dcdfe6;
